.containerr {
  padding: 9rem 0;
  min-height: 45rem;
  max-height: 70rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:  rgb(17, 104, 202);
  align-items: center;
  flex-direction: column;
}
.btn {
  width: 10rem;
  background-color: transparent;
  color: white;
  height: 3rem;
  font-weight: 500;
  border-radius: 3rem;
  border: 1px solid white;
}
.btn:hover {
  background-color: rgb(246, 239, 239);
  color:  rgb(17, 104, 202);
}
.Title {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.Login {
  display: flex;
  border: none;
}
.Login-cms {
  width: 40%;
  background-color:  rgb(17, 104, 202);
  display: flex;
  justify-content: center;
  min-height: 45rem;
  max-height: auto;
  align-items: center;
  flex-direction: column;
}
.Login-form {
  /* background-color: rgb(199, 208, 216); */
  width: 100%;
  margin-left: 0;
  padding: 2rem 0;
}
.Text {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.form-control {
  padding: 5rem 16rem;
  display: flex;
  justify-content: center;
  align-items: justify;
  border: none;
  flex-direction: column;
}
.title {
  font-size: 35px;
  text-align: center;
}

.form-field label {
  font-size: 19px;
  margin-bottom: 10px;
}
.form-field input {
  border-radius: 5px;
  height: 2.5rem;
  border: 1px solid gray;
  width: 100%;
  font-size: 20px;
  padding: 2px 15px;
}
.imp {
  margin-bottom: 0.5rem;
}
.imp small {
  font-size: 15px;
  color: rgba(128, 128, 128, 0.541);
}
.Forget {
  text-align: end;
  margin-bottom: 0.6rem;
}
.Create {
  text-align: center;
  margin: 1rem 0;
}

/* ////////////////////////////////////////Navbar///////////////////////////////////////////// */

.Navbar {
  display: flex;
  margin-top: 0;
  
  /* background-color: rgba(150, 170, 170, 0.171); */
  background-color:  rgb(17, 104, 202);
  height: 4.5rem;
  /* min-height: 3rem; */
  /* max-height: auto; */
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.Intro {
  width: 50%;
  margin: 1.6rem 4rem;
  font-size: 20px;
  font-weight: 500;
  color:white;
}
.nav-link {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-right: 3rem;
}
.btn-nav {
  margin: 1rem 0.5rem;
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: white;
}
.btn-nav:hover {
  background-color: alice rgb(17, 104, 202);
  color:  rgb(17, 104, 202);
}

.Sidenav {
  position: fixed;
  margin-top: 2.8rem;
  width: auto;
  /* background-color: rgba(150, 170, 170, 0.171); */
  padding: 2rem 1rem;
  height: auto;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.but {
  background-color: transparent;
  width: 14rem;
  height: auto;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  text-align: justify;
  cursor: pointer;
  font-size: 18px;
}
.but span {
  margin-left: 0.8rem;
  color: rgb(17, 104, 202);
}
.but:hover {
  background-color: rgba(255, 255, 255, 0.566);
  color: tomato;
}
.alert{
  width: 10px;
  padding: 0;
  height: 12px;
  background-color: tomato;
  border-radius: 1rem;
}





.name{
  display: flex;
}
.box{
  margin-right: 3px;
  margin-left: 3px;
}