@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body{
  font-family: "Montserrat", sans-serif !important;
}
.Homeflex {
  display: flex;
}
.snav{
    z-index: 9999;
}

.prof {
  margin: 4rem 17.3rem;
  width: 300rem;
  height: 100%;
}
